{% extends 'layout.html' %}
{% block content %}

<style>
    .movie {
        border-radius: 0.45em;
        border: 0.1em solid #00000022;
        padding: 0.5em 1em 0.5em 1em;
        margin: 0.5em 0;
    }

    .movie .title {
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        margin: 0.5em 0 0.5em 0;
    }

    .movie .director {
        text-align: center;
        font-size: 1.0em;
        margin: 0.5em 0 0.5em 0;
    }

    .movie .director .name {
        font-weight: bold;
    }

    .movie .stars {
        text-align: center;
        font-size: 1.0em;
        margin: 0.5em 0 0.5em 0;
    }

    .movie .stars .name {
        font-weight: bold;
    }

    .movie .genres {
        text-align: center;
        font-size: 1.0em;
        margin: 0.5em 0 0.5em 0;
    }

    .movie .description {
        text-align: center;
        font-style: italic;
        padding: 0 2em 0 2em;
        margin: 0.5em 0 0.5em 0;
    }

    .comments {
        border-radius: 0.45em;
        border: 0.1em solid #00000022;
        padding: 0.5em 1em 0.5em 1em;
        margin: 0.5em 0;
        text-align: center;
        font-size: 1.0em;
    }
</style>

<main id="main">
    <div class="movie">
        <div class="title">
            {{ movie.title }}
        </div>
        <div class="director">
            Directed by <span class="name">{{ movie.director.director_full_name }}</span>
        </div>
        <div class="stars">
            Starred by <span class="name">{{ movie.actors|map(attribute="actor_full_name")|join(", ") }}</span>
        </div>
        <hr>
        <div class="genres">
            {{ movie.genres|map(attribute="genre_name")|join(", ") }}
        </div>
        <div class="description">
            {{ movie.description }}
        </div>
    </div>

        <footer>
        <nav style="clear:both">
            <div style="float:right">
                <button class="btn-general" onclick="location.href='{{prev_page_url}}'">Back to movie list</button>
            </div>

            {% if movie.number_of_comments == 0 %}
            <div style="float:left">
                <button class="btn-general-disabled" disabled>No comments yet</button>
            </div>
            {% else %}
            <div style="float:left">
                <button class="btn-general" onclick="myFunction()" id="myDIV1">Hide current {{ movie.number_of_comments }} comments</button>
            </div>
            <div id="myDIV2" style="display:block">
                <div style="clear:both">
                    {% for comment in movie.comments %}
                    <p class="comments">{{comment.comment}}, by {{comment.user.user_name}}, {{comment.timestamp}}</p>
                    {% endfor %}
                </div>
            </div>
            <script>
            function myFunction()
            {
                var Button = document.getElementById('myDIV1');
                var x = document.getElementById("myDIV2");
                    if (x.style.display === "none") {
                        x.style.display = "block";
                        Button.innerHTML = "Hide current {{ movie.number_of_comments }} comments";
                    } else {
                        x.style.display = "none";
                        Button.innerHTML = "Show current {{ movie.number_of_comments }} comments";
                    }
            }
            </script>
            {% endif %}
        </nav>
            <div style="clear:both">
            <button class="btn-general" onclick="location.href='{{ add_comment_url }}'">Make your new comment</button>
        </div>
    </footer>
</main>

{% endblock %}