{% extends 'layout.html' %}
{% block content %}

<style>
    .tag {
        font-size: 0.65em;
        padding: 0.25em 0.5em 0.25em 0.5em;
        color: #00000088;
        background-color: #00000022;
        border-radius: 0.45em;
    }
    .movie-card {
        border-radius: 0.45em;
        border: 0.1em solid #00000022;
        padding: 0.5em 1em 0.5em 1em;
        margin: 0.5em 0;
    }
    .form-row {
        text-align: center;
    }
    .form-inline-element {
        display: inline-block;
    }
    .form-inline-element.keywords {
        width: 12em;
    }
    .form-inline-element.search-type {
        width: 7em;
    }
    .form-inline-element.submit {
        width: 6em;
    }
</style>

<main id="main">
    {% for movie in movies_list %}
    <movie id="movie">
        <ul>
            <a href='/movie/details?rank={{movie.rank}}&cursor={{cursor}}'>
                <li class="movie-card">
                    <span class="tag">Title</span>
                    {{ movie.title }} <br>
                    <span class="tag">Year</span>
                    {{ movie.release_year }} <br>
                    <span class="tag">Director</span>
                    {{ movie.director.director_full_name }} <br>
                    <span class="tag">Actors</span>
                    {{ movie.actors|map(attribute="actor_full_name")|join(", ") }} <br>
                    <span class="tag">Genres</span>
                    {{ movie.genres|map(attribute="genre_name")|join(", ") }} <br>
                </li>
            </a>
        </ul>
    </movie>
    {% endfor %}

<footer>
        <nav style="clear:both">
            <div style="float:left">
                {% if first_page_url is not none %}
                    <button class="btn-general" onclick="location.href='{{first_page_url}}'">First page</button>
                {% else %}
                    <button class="btn-general-disabled" disabled>First page</button>
                {% endif %}
                {% if prev_page_url is not none %}
                    <button class="btn-general" onclick="location.href='{{prev_page_url}}'">Previous page</button>
                {% else %}
                    <button class="btn-general-disabled" disabled>Previous page</button>
                {% endif %}
            </div>
            <div style="float:right">
                {% if next_page_url is not none %}
                    <button class="btn-general" onclick="location.href='{{next_page_url}}'">Next page</button>
                {% else %}
                    <button class="btn-general-disabled" disabled>Next page</button>
                {% endif %}
                {% if last_page_url is not none %}
                    <button class="btn-general" onclick="location.href='{{last_page_url}}'">Last page</button>
                {% else %}
                    <button class="btn-general-disabled" disabled>Last page</button>
                {% endif %}
            </div>
        </nav>
</footer>


</main>
{% endblock %}